.carousel-container {
    margin:100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}

.carousel-container::-webkit-scrollbar{
    display: none;
}

.card-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    animation: marquee 5s linear infinite;
    padding-right: 1em;
}

.card-item{
    flex: 0 0 5em;
    height: 5em;
    background: cornflowerblue;
    font-size: 3em;
    border-radius: .2em;
    text-align: center;
    align-items: center;
}

@keyframes marquee {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}


.card-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
