@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");

.showcase-container {
  font-family: "Google Sans", sans-serif;
  background-color: #141414;
  color: #fff;
}

.showcase-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.showcase-container h1 {
  text-transform: uppercase;
  font-size: clamp(3rem, 5vw, 7rem);
  font-weight: 400;
  line-height: 1;
}

.showcase-container p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
}

.showcase-container section {
  position: relative;
  width: 100%;
  height: 100svh;
  padding: 2rem;
  overflow: hidden;
}

/*  */

.showcase-container .project-images {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  padding: 50svh 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  z-index: -1;
}

.showcase-container .project-img {
  width: 100%;
  aspect-ratio: 16/9;
  opacity: 0.5;
  transition: all 0.3s ease;
  overflow: hidden;
}

.showcase-container .project-names {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.showcase-container .project-names p {
  color: #4a4a4a;
  transition: color 0.3s ease;
}

.showcase-container .project-index h1,
.showcase-container .project-images,
.showcase-container .project-names p {
  will-change: transform;
}

@media (max-width: 1000px) {
  .showcase-container .project-images {
    width: calc(100% - 4rem);
    gap: 25svh;
  }

  .showcase-container .project-names p {
    color: #fff !important;
  }
}